*{
    margin: 0;
    padding: 0;
}

.nav-background{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem 1.5rem;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    color: #444;
    text-decoration: none;
}

.nav-logo:hover{
    color: #666;
}

.nav-ul{
    list-style-type: none;
    display: flex;
    max-width: 700px;
    margin-top: 10px;
}

.nav-link{
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: #444;
    padding: 1.2rem 1.5rem;
    transition: 0.3s all linear;
}

.nav-link:hover{
    background-color: #2781aa;
    padding: 5px;
    border-radius: 9px;
}

h1{
    margin-left: 10px;
   
}